<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title>レジャーランキング</title>
   <link rel="stylesheet" type="text/css" href="leisure.css">
   <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
   </head>

<div class="first-block-leisure">
 <div class="title">
  <h1>レジャーランキング</h1>
 </div>
</div>


<% @alohas.each do |t| %>
  <% if t.category == "レジャー" %>
      <%= image_tag t.photo_url, size: "250x200" if t.photo? %>
      <%= t.name %>
      <%= t.about %>
      <%= link_to "詳細へ", aloha_path(t.id) %>
      <%= link_to "編集する", edit_aloha_path(t.id) %>
      <%= button_to "削除する", aloha_path(t.id), method: :delete %>
  <% end %>
<% end %>