<!DOCTYPE html>
<html>
  <head>
    <title>Hawaii</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
   <header>
    <div class="header-list">
     <ul>
      <% if user_signed_in? %> 
      <% if current_user.admin? %>
       <li><%= link_to "新規投稿", new_admin_aloha_path %></li>
      <% end %> 
       
       <li><%= link_to "HOME", alohas_path %></li>
      <li><%= button_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
    
       <% else %>
       <li><%= link_to "HOME", alohas_path %></li>
       <li><%= link_to "SIGNUP", new_user_registration_path %></li>
       <li><%= link_to "LOGIN", new_user_session_path %></li>
      <% end %>
     </ul>
    </div>
   </header>
   <main>
    <%= yield %>
   </main>
  </body>

</html>